footer {
    color: #fff;
    // background-color: #5b3a7b;
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    .names-container {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
    }
}