header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2e2e2e;
    .logo {
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: color 1s;
        &:hover {
            color: gold;
        }
    }
    .filter-search-container {
        align-self: center;
    }
    .main-nav {
        padding: 30px;
        a {
            font-weight: bold;
            color: white;
            &.router-link-exact-active {
                color: gold;
            }
        }
        .creatify-btn {
            background-color: transparent;
            border: none;
            outline: none;
            font-weight: bold;
            color: white;
            font-size: 1rem;
            font-family: Avenir, Helvetica, Arial, sans-serif;
        }
    }
}