header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $clr2;
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
    background-color: $clr1;
    max-height: 100px;
    .logo {
        // padding-top: 10px;
        height: 100px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: color 1s;
        object-fit: cover;
        padding: 5px;
    }
    .filter-search-container {
        display: flex;
        align-self: center;
        align-items: center;
        position: relative;
        .main-search {
            background-color: lightgray;
            border: none;
            outline: none;
            font-size: 1.5rem;
            border-radius: 3em;
            padding: 10px;
            width: 400px;
        }
        button {
            position: absolute;
            right: 0;
            background-color: transparent;
            border: none;
            outline: none;
            img {
                height: 30px;
            }
        }
    }
    .main-nav {
        padding: 30px;
        a {
            font-weight: bold;
            color: white;
            &.router-link-exact-active {
                color: gold;
            }
        }
        .creatify-btn {
            background-color: transparent;
            border: none;
            outline: none;
            font-weight: bold;
            color: white;
            font-size: 1rem;
            font-family: Avenir, Helvetica, Arial, sans-serif;
        }
    }
}