.chat-container {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  grid-row: 1/-1;
  border: 1px solid white;
  margin: 10px;
  height: 100%;
  > h2 {
    text-align: center;
    box-shadow: inset 0 0 5px 3px black;
    background-color: #3e3e3e;
    padding: 10px;
    margin: 10px 0;
  }
  .msg-list {
    overflow-y: auto;
    flex: 1;
  }
  .msg-info {
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
    box-shadow: inset 0 -1px white;
  }
  .msg-text {
    text-align: center;
    background-color: red;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
  }
  .msg-form {
    display: flex;
    input {
      flex: 1;
      height: 40px;
      font-size: large;
    }
  }
}
