.chat-container {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  grid-row: 1/4;
  border: 1px solid white;
  height: 100%;
  > h2 {
    text-align: center;
    box-shadow: inset 0 0 5px 3px black;
    background-color: $clr1;
    padding: 10px;
  }
  .msg-list {
    flex: 1;
    overflow-y: auto;
    padding: 5px;
    background-color: $clr1;
  }
  .chat-msg-preview {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 1/4;
    border: 1px solid white;
    height: 100%;
    > h2 {
      text-align: center;
      box-shadow: inset 0 0 5px 3px black;
      background-color: $clr1;
      padding: 10px;
    }
    .msg-list {
      flex: 1;
      overflow-y: auto;
      padding: 5px;
      background-color: $clr1;
    }
    .msg-info {
      gap: 20px;
      padding: 10px;
      width: 50%;
      border: 1px solid white;
      border-radius: 10px;
      background-color: $clr3;
      &.sender {
        align-items: flex-end;
        background-color: lighten($clr2, 10%);
      }
      .msg-text {
        display: flex;
        width: fit-content;
        // margin: 10px auto;
        padding: 10px;
      }
    }
  }
  .msg-form {
    display: flex;
    input {
      flex: 1;
      height: 40px;
      font-size: large;
      outline: none;
    }
    .btn-send {
      background-color: $clr3;
      &:hover {
        background-color: lighten($clr3, 20%);
      }
    }
  }
}
