.filter-search-container {
    padding-bottom: 5px;
    box-shadow: 0 2px white;
    input[name=search] {
        background-color: #3e3e3e;
        border: none;
        outline: none;
        font-size: 1.5rem;
    }
}