.player {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70vw;
  --plyr-color-main: gold;
  --plyr-audio-control-background-hover: $clr2;
  // --plyr-menu-color: #5e5e5e;
  // --plyr-audio-range-track-background: gold;
  --plyr-audio-range-thumb-active-shadow-color: $clr1;
  // --plyr-progress-loading-background: white;
  --plyr-audio-controls-background: $clr4;

  .player-controls{
    display: flex;
    gap: 5px;
    border:none;
    outline: none;
    align-items: center;
    background-color: black;

    span {
      cursor: pointer;
    }
  }
}

.plyr {
  position: relative;
  right: 0;
}

.plyr__video-wrapper.plyr__video-embed {
  padding-bottom: 50px !important;
  width: 100vw;
}

iframe {
  display: none !important;
}

.plyr__poster {
  display: none !important;
}

.ytp-cued-thumbnail-overlay {
  display: none !important;
}

.plyr__control.plyr__control--overlaid {
  display: none !important;
}

.plyr--video.plyr--hide-controls .plyr__controls {
  opacity: 1 !important;
  pointer-events: visible !important;
  transform: translateY(0%) !important;
}

.plyr__tooltip {
  display: none !important;
  z-index: 100 !important;
}

[data-plyr="fullscreen"] {
  display: none !important;
}
