.player {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 93vw;
  --plyr-color-main: gold;
  // --plyr-audio-control-background-hover: $clr2;
  // --plyr-audio-range-thumb-active-shadow-color: $clr1;
  // --plyr-audio-controls-background: $clr4;
  .player-controls {
    display: flex;
    gap: 5px;
    border: none;
    outline: none;
    align-items: center;
    background-color: #000;
    width: 35vw;
    span {
      cursor: pointer;
    }
  }
}

.plyr {
  position: relative;
  right: 0;
  .plyr__video-wrapper.plyr__video-embed {
    padding-bottom: 50px !important;
    width: 100vw;
  }
  .plyr__tooltip {
    display: none !important;
    z-index: 100 !important;
  }
  [data-plyr="fullscreen"],
  [data-plyr="play"],
  .plyr__control.plyr__control--overlaid,
  .ytp-cued-thumbnail-overlay,
  .plyr__poster,
  iframe {
    display: none !important;
  }
}

.plyr--video.plyr--hide-controls .plyr__controls {
  opacity: 1 !important;
  pointer-events: visible !important;
  transform: translateY(0%) !important;
}
