.songs-list-container {
    grid-row: 3/-1;
    display: flex;
    flex-direction: column;
    .songs-list {
        display: flex;
        list-style: none;
        flex-direction: column;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        max-height: 340px;
        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 10px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: darken($clr1, 5%);
            border-radius: 10px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: lighten($clr4, 20%);
            border-radius: 10px;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: lighten($clr4, 10%);
            border-radius: 10px;
        }
        li {
            display: flex;
            height: 9%;
            align-items: center;
            padding-bottom: 2px;
        }
    }
}

.song-list-search.open {
    grid-column: 1/7;
    height: 60px;
    grid-row: 2/3;
    margin-bottom: 0;
    input {
        width: 100%;
        height: 50px;
        border-radius: 3em;
        font-size: large;
        padding: 0 7px 0 7px;
        outline: none;
        border: none;
    }
}

.song-list-headers {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 18.5% 43% 1fr;
    color: darken($clr1, 15%);
}