.song-preview {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 5fr 3fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    background-color: darken($clr1, 6%);
    justify-items: center;
    padding: 3px 0 3px;
    .thumbnail {
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        height: 45px;
        width: 45px;
    }
    .song-title {
        width: 100%;
        max-width: 450px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .song-preview-play-btn {
        cursor: pointer;
        fill: white;
        &:hover {
            fill: gold;
        }
    }
    &:hover {
        background-color: $clr2;
    }
    .like-song {
        background-color: transparent;
        border: none;
        &:hover {
            font-size: 1.1rem;
        }
    }
    .song-preview-remove-btn {
        position: absolute;
        right: 5.5%;
        // z-index: 100;
        top: 30%;
        cursor: pointer;
        fill: white;
        &:hover {
            fill: red;
        }
    }
    .slide-in-enter-active,
    .slide-in-leave-active {
        transition: all .2s linear;
        transform: translateX(100px)
    }
    .details-btn {
        transform: rotate(90deg);
        height: 30px;
        &:hover {
            cursor: pointer;
            filter: invert(83%) sepia(24%) saturate(3266%) hue-rotate(358deg) brightness(104%) contrast(107%);
        }
    }
}