.song-preview {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2e2e2e;
    &:hover {
        background-color: rgba(46, 9, 80, 0.397);
    }
    .like-song {
        background-color: transparent;
        border: none;
    }
}