.song-preview {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darken($clr1, 6%);
    &:hover {
        background-color: $clr2;
    }
    .like-song {
        background-color: transparent;
        border: none;
    }
}