.station-add {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $clr2;
    color: black;
    z-index: 1000;
    padding: 10px;
    border-radius: 10px;
    .close {
        align-self: flex-end;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        font-size: 1.1rem;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .choose-file {
            margin: 10px;
            background-color: gray;
            &:hover {
                background-color: rgb(189, 167, 167);
                cursor: pointer;
            }
            border: 1px solid;
            input[type=file] {
                display: none;
            }
        }
    }
}