.station-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    .VueCarousel {
        width: 80%;
    }
    .btn-next,
    .btn-prev {
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
        font-size: 2rem;
        &:hover {
            color: $clr4;
        }
    }
    .song-list-container {
        grid-column: 6/-1;
    }
}