.station-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $clr2;
  color: black;
  z-index: 1000;
  padding: 10px;
  border-radius: 10px;
  .close {
    align-self: flex-end;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .choose-file {
      margin: 10px;
      background-color: gray;
      &:hover {
        background-color: rgb(189, 167, 167);
        cursor: pointer;
      }
      border: 1px solid;
      input[type="file"] {
        display: none;
      }
    }
    h2 {
      font-size: 1.5rem;
    }
    input {
      height: 35px;
      width: 250px;
      border-radius: 10px;
    }
    label img {
      height: 100px;
      border-radius: 10px;
    }
    button {
      border: 1px solid;
      border-radius: 10px;
      background-color: transparent;
      font-size: 1.1rem
    }
  }
}
