.station-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px !important;
    .VueCarousel {
        width: 85%;
        margin-left: 100px;
        margin-right: 100px
    }
    .btn-next,
    .btn-prev {
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
        font-size: 2rem;
        &:hover {
            color: gold;
        }
    }
    .song-list-container {
        grid-column: 6/-1;
    }
}