.station-list {
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    // gap: 10px;
    &.top-picks-carousel {
        grid-row: 2;
    }
    &.your-picks-carousel {
        grid-row: 4;
    }
    margin-bottom: 40px !important;
    .VueCarousel {
        width: 90%;
        margin-left: 100px;
        margin-right: 100px;
        .VueCarousel-inner {
            gap: 10px;
            width: 100%;
            flex-basis: 280px !important;
        }
    }
    .btn-next,
    .btn-prev {
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
        font-size: 2rem;
        &:hover {
            color: gold;
        }
    }
    .btn-prev {
        transform: rotate(-90deg) translateX(50px);
    }
    .btn-next {
        transform: rotate(90deg) translateX(-50px);
    }
    .song-list-container {
        grid-column: 6/-1;
    }
}