.msg {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: absolute;
    z-index: 50;
    top: 50%;
    right: 50%;
    background-color: #fff;
}

.msg-success {
    color: green;
}

.msg-error {
    color: red;
}