.explore {
    .tags-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        .tag-preview {
            font-size: 1.5rem;
        }
    }
}