.home-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    .hero-img {
        margin-bottom: 200px;
        position: fixed;
        height: 100vh;
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .hero-txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: white;
        font-size: larger;
    }
    .station-main {
        position: relative;
        top: 100vh;
        height: 100vh;
        background-color: $clr1;
        z-index: 10;
        h2 {
            text-align: center;
            margin: 10px;
            text-decoration: underline;
        }
    }
}